.poodle {
  display: block;
  padding: 3rem;
  float: left;
  list-style: none;
  transition: transform 0.3s ease-in-out;
}

p {
  font-size: 1.5rem;
  color: #353336;
  padding: 0.5rem;
  margin: 0;
}

.image img {
  float: left;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.content {
  text-align: center;
  height: fit-content;
  background-color: #ffe2ed;
  border-radius: 0 0 1rem 1rem;
}

.content h3 {
  font-size: 2rem;
  color: #2c292b;
}

.actions {
  padding: 2rem;
  text-align: center;
}

.actions button {
  display: block;
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.poodle:hover,
.poodle:active {
  transform: scale(1.2);
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}
