.poodle {
  margin: 0;
  padding: 1rem;
  border-radius: 4px;
  border-color: black;
}

ul {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-gap: 1rem;
  list-style: none;
  width: fit-content;
}

li {
  display: grid;
  grid-template-columns: fit-content(1fr);
  float: left;
  list-style: none;
}

p {
  font-size: 1.5rem;
  color: #353336;
  padding: 2px;
  margin: 0;
}

.image img {
  float: left;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.content {
  text-align: center;
  height: fit-content;
  padding: 2px;
  background-color: #ffe2ed;
}

.content h3 {
  font-size: 2rem;
  color: #2c292b;
}

.actions {
  padding: 2rem;
  text-align: center;
}

.actions button {
  display: block;
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}

.ModalOpen {
  animation: openModal 0.5s ease-out forwards;
}
@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
