.layout {
  background-color: rgba(216, 176, 226, 0.815);
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: aliceblue;
  box-sizing: border-box;
  margin: 0;
}
